<section id="header" class="header">
  <div class="header__content">
    <div class="header__photo">
      <div class="header__photo-placeholder">
        <span>{{ cvService.personalInfo().name.charAt(0) }}</span>
      </div>
    </div>
    <h1 class="header__name">{{ cvService.personalInfo().name }}</h1>
    <h2 class="header__title">
      <span class="header__typing"></span>
    </h2>
    <div class="header__contact">
      <a [href]="'mailto:' + cvService.personalInfo().email" class="header__contact-item">
        <i class="fa-solid fa-envelope"></i> {{ cvService.personalInfo().email }}
      </a>
      <a [href]="'tel:' + cvService.personalInfo().phone" class="header__contact-item">
        <i class="fa-solid fa-phone"></i> {{ cvService.personalInfo().phone }}
      </a>
      <span class="header__contact-item">
        <i class="fa-solid fa-location-dot"></i> {{ cvService.personalInfo().location }}
      </span>
      <a [href]="cvService.personalInfo().linkedin" target="_blank" class="header__contact-item">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
      <a [href]="cvService.personalInfo().github" target="_blank" class="header__contact-item">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
    </div>
  </div>
</section>
